<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./fonts/fontawesome-free-5.13.0-web/css/all.css">

</head>

<body>
    <div class="wrapper">
        <div class="header" >
            <!-- <img src="./images/background.jpg" alt=""> -->
            <h1 style="font-size: 50px;">My Healthy</h1>
            <p style="font-weight: 100;">Welcome to my website</p>
        </div>
        <div class="nav">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Work</a>
            <a style="float:right" href="#">Contact</a>
        </div>
        <div class="container">
            <div class="content-left">
                <div class="content-1">
                    <h1>PANCAKE NGỌT NGÀO TẶNG NGƯỜI PHỤ NỮ BẠN THƯƠNG </h1>
                    <p>Title description,Aug 3,2020</p>
                    <div class="img">
                        <img src="./images/pancake.jpg" alt="">
                    </div>
                    <div class="content">
                        Đã bao lâu rồi bạn chưa gọi điện về thăm mẹ? Đã bao lâu rồi bạn chưa có cảm giác hăm hở xắn
                        taylao vào bếp làm một món gì đó tặng người phụ nữ mà bạn thương.<br />
                        Vậy ngày hôm nay hãy để #Myhealthy giúp bạn một tay nhá.<br />
                        Thử làm món bánh #Pancake_vị_chuối thơm thơm siêu đơn giản mà mà chẳng lo béo . Tại sao không
                        nhỉ ?
                        Nguyên liệu:
                        <ul>
                            <li>Yến mạch </li>
                            <li>Chuối</li>
                            <li>Trứng, bơ lạc</li>
                            <li>Mật ong </li>
                            <li>1 chiếc chảo chống dính </li>
                            <li>Xíu dàu dừa</li>
                        </ul>
                        Cách làm :
                        Dầm nhuyễn chuối hoặc xay . Mix các nguyên liệu đã chuẩn bị (yến mạch, chuối trứng, mật ong, bơ
                        lạc, vani....)<br />
                        Làm nóng chảo rồi lau qua mặt chảo với dầu dừa<br />
                        Đổ hỗn hợp bánh lên trên đợi có lỗ hwoi thoát trên mặt và lật là xong<br />
                        Bày ra đĩa và ăn kèm hoa quả thái lát nếu thích nha<br />
                        Mông 8-3 này sẽ là một ngày thật đặc biệt để 1 nửa trổ tài cho một nửa yêu thương của họ với món
                        bánh ngọt ngào xinh xắn này.Và chúng tôi cũng gửi những lời chúc tốt đẹp nhất tới 1 nửa yêu
                        thương của thế giới . Hãy thật yêu thương bản thân, hạnh phúc và được mỉm cười mỗi ngày!
                    </div>
                </div>
                <div class="content-1">
                    <h1>ĐẸP TỪ TRONG RA NGOÀI NHỜ YẾN MẠCH</h1>
                    <p>Title description,Dec 7,2019</p>
                    <div class="img">
                        <img src="./images/cham soc da.png" alt="">
                    </div>
                    <div class="content">
                        Nay #Myhealthy xin phép được tâm sự chuyện làm đẹp một chút với cả nhà từ một nguồn carb tốt mà
                        nhiều lúc hay bị lãng quên. Chuyện là như thế này cả nhà ạ.<br />
                        Có một hôm ad hết sữa rửa mặt mà không để ý, thế là lấy ít yến mạch cán vỡ trong bếp ra để rửa
                        vì lần trước có tìm hiểu cơ mà lười quá nên ít dùng.<br />

                        Ui mà sau hôm ấy, tối nào cũng chăm chỉ rửa mà sau 2 tuần trộm vía da đỡ mụn, hết mụn ẩn và giảm
                        thâm hẳn. Nên muốn chia sẻ chút chút cho cả nhà cách mà ad dùng.<br />

                        🔸B1: Ad vẫn tẩy trang như bình thường<br />
                        🔸B2: Lấy một 2 thìa cafe yến mạch cán vỡ và đổ nước xâm xấp, cho nở và nhuyễn ra. Rồi thay hỗn
                        hợp đó cho sữa rửa mặt<br />
                        🔸B3: Dùng toner dấm táo để cân bằng da ( cả nhà có thể dùng toner ưa thích nha)<br />
                        🔸B4: Dùng kem dưỡng ẩm để khóa ẩm lại toàn bộ quá trình dưỡng da<br />

                        ** Đây là quy trình skincare ban đêm của ad, ban ngày thì ad ko dùng yến mạch mà chỉ dùng sữa
                        rửa mặt dịu nhẹ có độ pH cân bằng rồi tiếp tục các bước kia + kem chống nắng là xong rùi. Cả nhà
                        có thể tham khảo nha<br />
                        Chúc cả nhà sẽ có sự thay đổi tích cực nhờ tip nho nhỏ này của ad nha.Tin và yêu

                    </div>
                </div>
            </div>
            <div class="content-right">
                <div class="content-1">
                    <h1>About me</h1>
                    <div class="img-1">
                        <img src="./images/aboutme.jpg" alt="">
                    </div>
                    <div class="content">
                        #Myhealthy_ nghe cái tên có vẻ sai sai cả nhà nhỉ, nhưng vì nó được nảy ra trong đầu của 2 con
                        người (chật vật trong quá trình giảm béo) cùng chung mạch ý tưởng nên đã tôn trọng và sướng nó
                        lên thành tên fanpage như bây giờ.<br/>
                        #Myhealthy vô cùng cảm ơn tất cả các bạn đang theo dõi và cả những khách hàng của nhà myhealthy
                        đã luôn ủng hộ và giúp #Myhealthy có thêm động lực để hoàn thành nhiệm vụ khi mà nó được sinh ra
                        đó là:<br/>
                        🔸Mang đến cho mọi người một lối sống và lối ăn uống lành mạnh thật sự như chính cái tên của nó
                        vậy #Eatclean<br/>
                        🔸Và tập trung mày mò và phát triển để cung cấp cho cả nhà những sản phẩm #Homemade chỉ có tại
                        #Myhealthy để cả nhà có thể yên tâm khi eatclean.<br/>

                        Cảm ơn cả nhà hôm nay đã cho Myhealthy được tâm sự tí chút ! Và tiện thể khoe luôn cái logo
                        không mấy sang choảnh nhưng là cái gì đó xinh xinh đáng yêu để cả nhà có thể nhận diện được
                        MyHealthy.<br/>
                        Tin và yêu ❤
                    </div>
                </div>
                <div class="content-1">
                    <h1>Popular post</h1>
                    <div class="img-1">
                        <img src="./images/anh3.jpg" alt="">
                    </div>
                    <div class="img-1">
                        <img src="./images/trathaomoc.jpg" alt="">
        
                    </div>
                    <div class="img-1">
                        <img src="./images/bo lac.jpg" alt="">
                    </div>
                </div>
                <div class="content-1">
                    <h1>Follow me</h1>
                    <div class="content">
                        My healthy chuyên chia sẻ những món ăn, thực đơn clean eating phù hợp với khẩu vị của người Châu Á cho mọi đối tượng, mọi lứa tuổi, đặc biệt là đối tượng tập luyện, muốn tăng cơ, giảm mỡ.
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="footer-container">
                    <div class="left-col">
                    <!-- <img src="./images/logo.png" alt="" class="img2" width="50px" height="50px"> -->
                    <div class="social-media">
                        <a href="#">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>

                    </div>
                    <p class="rights_text">#copyright 2020 Created all rights reserved</p>
                    </div>
                    <div class="right-col">
                        <h1>Our Newsletter</h1>
                        <div class="border"></div>
                        <p>Enter your email to get our news and updates</p>
                        <form action="" class="newletter-form">
                            <input type="text" class="txtb" placeholder="Enter Your Email">
                            <input type="submit" class="btn" value="Submit">
                        </form>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
    <script src="./js/index.js"></script>
</body>

</html>