*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #9933FF;
}

h2 {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 100px;
    text-align: center;
    margin: 50px;
}

#piano {
   
    width: 900px;
    position: relative;
    margin: auto;
   
}

.top {
    position: absolute;
    left: 58px;
}

#black3 {
    margin-left: 84px;
}

#black6 {
    margin-left: 84px;
}

.key-top {
    display: inline-block;
    width: 50px;
    height: 250px;
    background: black;
    box-shadow: inset 0px 0px 10px 5px gray;
    margin-right: 30px;
    cursor: pointer;
    border-radius: .1rem;
    
}

.key-bt {
    display: inline-block;
    width: 80px;
    height: 380px;
    box-shadow: inset 0px 0px 30px 20px white;
    cursor: pointer;
    background-color: white;

}

#black:active{
    background: linear-gradient(to bottom, black 0%, gray 100% );
}
#black2:active{
    background: linear-gradient(to bottom, black 0%, gray 100%);
}
#black3:active{
    background: linear-gradient(to bottom, black 0%, gray 100%);
}
#black4:active{
    background: linear-gradient(to bottom, black 0%, gray 100%);
}
#black5:active{
    
    background: linear-gradient(to bottom, black 0%, gray 100%);
}
#black6:active{
    background: linear-gradient(to bottom, black 0%, gray 100%);
}
#black7:active{
    background: linear-gradient(to bottom, black 0%, gray 100%);
}
 