body{
    background-color:#FFEDCA;
}
img{
     float: left; 
    width:100px;
    height:80px;
}
h1{
    text-align: center;
    
    color:#CC6600; 

}
table, th, td {
    border:1px solid #EE82EE;
}
table{
    border-collapse: collapse;
    padding:20px;
    width:60%;   
}
th{
    height: 30px;
    text-align: center;
    background-color: #CC6600;
    color:white;
    }
.roww{
    background-color:#FFEDCA;
}
.row{
    background-color:#ffffff;
}